# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# PyCharm
.idea/

# Environments
.env
.env.*

# custom
.DS_Store
neo4j/
.langgraph_api/

/datasets
